#header {
  top: 0;
}

body {
  font-family: arial;
  color: rgb(177, 177, 177);
  font-size: 18px;
  height: 100%;
  background-color: #121212;
}

* {
  margin: 0;
  padding: 0;
}

/********** Hamburger menu CSS ************/

.nav {
  background: #121212;
  font-size: 1.5rem;
  height: 5%;
  padding: 0rem 2rem 2rem 2rem;
  position: fixed;
  top: -10rem;
  left: 7rem;
  width: 100%;
  z-index: 1;
}

.nav-item {
  position: fixed;
  top: -10rem;
}

#welcome-nav {
  transition: top 0.5s ease;
}

#about-nav {
  left: 7rem;
  transition: top 0.6s ease;
}

#projects-nav {
  left: 14rem;
  transition: top 0.7s ease;
}

#blog-nav {
  left: 22rem;
  transition: top 0.8s ease;
}

#contact-nav {
  left: 28rem;
  transition: top 0.9s ease;
}

#welcome-nav.expanded,
#about-nav.expanded,
#projects-nav.expanded,
#blog-nav.expanded,
#contact-nav.expanded {
  top: 0rem;
}

.nav.expanded {
  top: 0rem;
}

.nav ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #03dac5;
  text-decoration: none;
  font-size: 1.5rem;
  opacity: 0.8;
  margin-right: 2rem;
}

nav ul li a:hover {
  opacity: 0.38;
}

.nav-toggle {
  user-select: none;
  cursor: pointer;
  height: 2rem;
  left: 2rem;
  position: fixed;
  top: 2rem;
  width: 3.6rem;
  z-index: 1;
}

.nav-toggle:hover {
  opacity: 0.8;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  background: rgba(255, 255, 255, 0.87);
  content: '';
  height: 0.4rem;
  width: 100%;
}

.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}

.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}

.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
  background: rgba(255, 255, 255, 0.87);
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  transform: rotate(-45deg);
}

/********* End Hamburger menu CSS ***********/

.container {
  text-align: center;
}

.welcome-section {
  top: 0;
  height: 60%;
  background-color: #121212;
  padding-top: 40vh;
  display: inline-block;
  margin: auto;
}

.about {
  height: 100%;
  background-color: #121212;
  padding-top: 20px;
  text-align: center;
}

.about-box {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.04);
  display: inline-block;
  font-size: 1.2rem;
  padding: 2rem;
}

#profile-pic {
  height: 15rem;
  width: 15rem;
}

.projects {
  height: 100%;
  background-color: #121212;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 30% 30%;
  grid-template-areas:
    'header header'
    'project1 project2'
    'project3 project4';
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  grid-gap: 5%;
}

h1 {
  font-size: 70;
  font-family: Oswald;
  color: #ffffff;
  opacity: 0.87;
  text-align: center;
}

h3 {
  font-size: 40;
  font-family: Oswald;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.87;
}

.hi {
  color: #03dac5;
  opacity: 0.8;
  text-align: left;
}

.welcome-section p {
  color: #ffffff;
  opacity: 0.6;
}

.project-tile {
  grid-area: header;
}

.project1 {
  grid-area: project1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  background-size: cover;
  position: relative;
  background: #121212;
  overflow: hidden;
}

.project1:hover::before {
  opacity: 0.6;
}

.project1:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('cafeandkids.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.project-text {
  background-color: rgb(82, 82, 82, 1);
  width: 100%;
  padding: 2%;
  z-index: 5;
  position: absolute;
  bottom: -7rem;
  left: 0;
  transition: all 0.5s ease;
}

.project1:hover .project-text {
  bottom: 0;
  transition: all 0.5s ease;
}

.project2 {
  grid-area: project2;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.project3 {
  grid-area: project3;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.project4 {
  grid-area: project4;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  height: 100vh;
  padding-top: 20px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .projects {
    padding-left: 5%;
    padding-right: 5%;
  }
}
