html {
  font-size: calc(1em + 0.65vw);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(64, 69, 79);
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: 6rem;
  margin-right: 6rem;
}

h1 {
  font-size: 3rem;
  font-family: Oswald;
  color: #181d27;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  font-family: Oswald;
  color: #495456;
}

.pop {
  color: #ff5e01;
}

.shadow {
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}

img.center {
  display: block;
  margin: 0 auto;
}

.flex-grid,
.flex-grid-responsive {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex: 200px;
}

.col {
  flex: 1;
}

.skills li {
  padding-top: 1rem;
}

.container {
  height: 1vw;
  padding: 5rem;
}

.table {
  display: flex;
  flex-direction: column; /* vertical alignment of flex items */
  justify-content: center; /* center flex items vertically */
}

/**** Individual Pages ****/

#welcome-section {
  text-align: center;
  height: 100vh;
}

.subtitle {
  color: #495456;
}

#intro {
  /* margin-top: 8rem; */
  text-align: center;
}

#right-place-title {
  margin-top: 5rem;
}

.logo-left {
  max-width: 100%;
  text-align: left;
  margin: 1.5rem 0 0 6rem;
}

.logo-right {
  max-width: 100%;
  text-align: right;
  margin: 1.5rem 0 0 0;
}

#wrong-place-title {
  text-align: right;
  margin-top: 5rem;
}

#sad-face {
  text-align: center;
  font-size: 10rem;
}

#profile-title {
  margin-top: 5rem;
}

#profile-content-1 table {
  display: initial;
}

#portrait-pic {
  width: 250px;
  max-width: 100%;
  padding: 0 0 0 7rem;
  border-radius: 50%;
}

#company-logos-container {
  text-align: center;
  margin-top: 3rem;
}

.company-logo {
  max-width: 100%;
}

#portfolio-title {
  text-align: center;
  margin-top: 5rem;
}

.projects {
  background-color: rgba(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15rem 15rem 15rem;
  grid-template-areas:
    "project1 project2"
    "project3 project4"
    "project5 project6";
  grid-gap: 5%;
}

.projects a {
  text-decoration: none;
}

.project-tile {
  grid-area: header;
}

.project-text {
  font-size: 0.8rem;
  background-color: rgb(245, 245, 245);
  padding: 0% 5% 5% 5%;
  z-index: 5;
  position: absolute;
  width: auto;
  top: 100%;
  left: 0;
  transform: translateY(-5.5rem);
  transition: all 0.5s ease;
  border-radius: 10px;
}

.project-text h3 {
  margin-top: 1rem;
}

.project-text a {
  color: black;
  text-decoration: underline;
  opacity: 0.87;
}

.project-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  background-size: cover;
  position: relative;
  background: #ffffff;
  overflow: hidden;
  border-radius: 10px;
}

.project-box:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.project-box:hover::before {
  opacity: 0.6;
}

.project-box:hover .project-text {
  transform: translateY(-100%);
  transition: all 0.5s ease;
}

#project1 {
  grid-area: project1;
}

#project1:before {
  background-image: url("images/til_sshot.jpg");
  background-size: contain;
}

#project2 {
  grid-area: project2;
}

#project2:before {
  background-image: url("images/mailsender_sshot.jpg");
  background-size: contain;
}

#project3 {
  grid-area: project3;
}

#project3:before {
  background-image: url("images/hpm_sshot.jpg");
  background-size: contain;
}

#project4 {
  grid-area: project4;
}

#project4:before {
  background-image: url("images/breakout_sshot.png");
  background-size: contain;
}

#project5 {
  grid-area: project5;
}

#project5:before {
  background-image: url("images/cafeandkids.jpg");
  background-size: contain;
}

.faq-question {
  font-size: 1.2rem;
  font-weight: bold;
}

#contact-title {
  margin-top: 7rem;
}

.contact {
  text-align: center;
  margin-top: 3rem;
}

.contact #github-logo {
  height: 3rem;
  margin-top: -0.5rem;
}

.contact #stack-overflow-logo {
  height: 2.5rem;
}

.contact #email-logo {
  height: 2.5rem;
}

.contact #linkedin-logo {
  height: 3rem;
}

#faq-title {
  margin-top: 5rem;
}

#cta {
  margin-top: 3rem;
}

#cta #email-logo {
  height: 2.5rem;
}

#cta .logo-left {
  margin: 4.1rem 0 6rem 1rem;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
  margin: 0 0 2rem 0;
}

/********** Hamburger menu CSS ************/

#header {
  top: 0;
  margin-left: -6rem;
}

.nav {
  background: rgb(245, 245, 245);
  font-size: 1rem;
  padding: 0rem 2rem 2rem 2rem;
  position: fixed;
  top: -10rem;
  width: 100%;
  z-index: 100;
}

.nav-item {
  position: fixed;
  top: -10rem;
  transition: top 0.5s ease;
}

#welcome-nav {
  margin-left: 3rem;
  transition: top 0.5s ease;
  margin-top: -1.5rem;
}

#skills-nav {
  left: 10rem;
  transition: top 0.6s ease;
  margin-top: -1.5rem;
}

#about-nav {
  left: 17rem;
  transition: top 0.7s ease;
  margin-top: -1.5rem;
}

#projects-nav {
  left: 24rem;
  transition: top 0.8s ease;
  margin-top: -1.5rem;
}

#contact-nav {
  left: 32rem;
  transition: top 0.9s ease;
  margin-top: -1.5rem;
}

#welcome-nav.expanded,
#skills-nav.expanded,
#projects-nav.expanded,
#about-nav.expanded,
#contact-nav.expanded {
  top: 0rem;
}

.nav.expanded {
  top: 0rem;
  padding-bottom: 4rem;
  z-index: 10;
}

.nav ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 1rem 1rem 1rem 1rem;
}

nav ul li a {
  color: rgb(64, 69, 79);
  text-decoration: none;
  opacity: 0.8;
  margin-right: 2rem;
  background-color: rgb(245, 245, 245);
}

nav ul li a:hover {
  opacity: 0.38;
}

.nav-toggle {
  user-select: none;
  cursor: pointer;
  height: 1rem;
  left: 1rem;
  position: fixed;
  top: 1.5rem;
  width: 2.5rem;
  z-index: 11;
}

.nav-toggle:hover {
  opacity: 0.8;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  background: #ff5e01;
  content: "";
  height: 0.3rem;
  width: 100%;
}

.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}

.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}

.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
  background: #ff5e01;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  transform: rotate(-45deg);
}

/********* End Hamburger menu CSS ***********/

@media only screen and (max-width: 700px) {
  .projects {
    padding-left: 5%;
    padding-right: 5%;
  }

  .flex-grid-responsive {
    flex-direction: column;
  }

  body {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .logo-left {
    text-align: center;
    margin: 1.5rem 0 0 0;
  }

  .logo-right {
    text-align: center;
    margin: 1.5rem 0 0 0;
  }

  #wrong-place-title {
    text-align: left;
  }

  #portrait-pic {
    padding: 0;
    margin-top: 3rem;
  }

  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 15rem 15rem 15rem;
    grid-template-areas:
      "project1"
      "project2"
      "project3"
      "project4";
    gap: 5%;
  }

  #contact-title {
    margin-top: 13rem;
  }

  .mob-center {
    text-align: center;
  }
}

/* Hamburger menu  on mobile to come from left side */
@media only screen and (max-width: 1050px) {
  .nav {
    left: -10rem;
    height: 100%;
    width: 10%;
  }

  .nav-item {
    left: -10rem;
    transition: left 0.5s ease;
  }

  #welcome-nav.expanded,
  #skills-nav.expanded,
  #projects-nav.expanded,
  #about-nav.expanded,
  #contact-nav.expanded {
    left: calc(1rem + 10vw);
  }

  #welcome-nav {
    top: 2rem !important;
    transition: left 0.5s ease;
    left: 1.5rem;
    margin-left: 0rem;
  }

  #skills-nav {
    top: 6rem !important;
    transition: left 0.6s ease;
    left: 1.5rem;
  }

  #about-nav {
    top: 10rem !important;
    transition: left 0.7s ease;
    left: 1.5rem;
  }

  #projects-nav {
    top: 14rem !important;
    transition: left 0.8s ease;
    left: 1.5rem;
  }

  #contact-nav {
    top: 18rem !important;
    transition: left 0.9s ease;
    left: 1.5rem;
  }

  .nav.expanded {
    left: 0rem;
  }

  .nav ul {
    top: 10%;
    left: -50%;
    transform: translateX(50%);
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    margin-right: 2rem;
  }
}
